<div class="container-fluid contenedormenu ">
  <div class="row flex-nowrap">
    <div class="col-row-2 col-md-3 col-xl-2 px-sm-2 px-0 ">
      <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline"></span>
      </a>
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center mb-4 mt-4" id="menu">
        <li class="nav-item">
          <a href="" class="nav-link px-0 align-middle">
            <button class="ms-1 d-none d-sm-inline">
              Inicio
            </button></a>
        <li>
          <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
            <button class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-store"></i>
              Tienda
            </button></a>
          <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
            <li class="w-100">
              <a href="http://localhost:4200/accesorios" class="nav-link px-0"> <span
                  class="d-none d-sm-inline text-light">Accesorios</span></a>
            </li>
            <li>
              <a href="http://localhost:4200/accesorios" class="nav-link px-0"> <span
                  class="d-none d-sm-inline text-light">Farmacia</span></a>
            </li>
            <li>
              <a href="http://localhost:4200/accesorios" class="nav-link px-0"> <span
                  class="d-none d-sm-inline text-light">Comida</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
            <button class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-shield-dog"></i>
              servicios
            </button></a>
          <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
            <li class="w-100">
              <a href="http://localhost:4200/servicios/consulta" class="nav-link px-0"> <span
                  class="d-none d-sm-inline text-light">Consulta</span></a>
            </li>
            <li>
              <a href="http://localhost:4200/servicios/lavado" class="nav-link px-0"> <span
                  class="d-none d-sm-inline text-light">Baño</span></a>
            </li>
            <li>
              <a href="http://localhost:4200/servicios/guarderia" class="nav-link px-0"> <span
                  class="d-none d-sm-inline text-light">Guarderia</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="http://localhost:4200/servicios/Clientes" class="nav-link px-0 align-middle">
            <button class="ms-1 d-none d-sm-inline"><i class="fa-regular fa-user"></i>
              Tienda
            </button></a>
        </li>
      </ul>
    </div>
  </div>
