<footer id="id-footer" >
  <div class="footer-linea"></div>
  <div class="row">
      <div class="col-md-4">
          <p class="tamaño-letras"><a href="">pagina proyecto</a> <a href=""> </a></p>
      </div>
      <div class="col-md-4">
          <p class="tamaño-letras">derechos reservados proyectoVet 2024</p>
      </div>
      <div class="col-md-4">
          <div class="footer">
              <div class="row"></div>
              <li class="mb-2">
                <a href="#" class="px-0 align-middle">
                  <i class="fa-brands fa-whatsapp"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
              </li>
              <li class="mb-2">
                <a href="#" class="px-0 align-middle">
                  <i class="fa-brands fa-facebook"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
              </li>
              <li class="mb-2">
                <a href="#" class="px-0 align-middle">
                  <i class="fa-brands fa-instagram"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
              </li>
          </div>
      </div>
  </div>
</footer>
