<footer id="id-footer" >
  <div class="footer-linea"></div>
  <div class="row">
      <div class="col-md-4">
          <p class="tamaño-letras"><a href="tel: +573172895477">Contactanos</a> <a href="correo: 112"> </a></p>
      </div>
      <div class="col-md-4">
          <p class="tamaño-letras">Nos ubicamos en las ciudades principales: Bogota, Cali, Medellin, Villavicencio, Cartagena.</p>
      </div>
      <div class="col-md-4">
          <div class="footer">
              <div class="row"></div>
              <a href="https://wa.me/573172895477" target="_blank">
                  <img src="../../icons/icono-whatsapp.png" alt="whatsapp" id="whatsapp">
              </a>
              <a href="">
                  <img src="../../icons/icono-instagram.jpeg" alt="instagram" id="instagram">
              </a>
              <a href="">
                  <img src="../../icons/icono-twitter.png" alt="twitter" id="twitter">
              </a>
              <a href="">
                  <img src="../../icons/icono-facebook.png" alt="facebook" id="facebook">
              </a>
          </div>
      </div>
  </div>
</footer>
