<section>
  <h1> Productos</h1>
  <div class="d-flex justify-content-end">
    <a class="fa-solid fa-cart-shopping px-4 py-3 fw-bold"></a>
  </div>
  <div class="container text-center m-lg-5">
    <div class="row">
      @for (producto of dataProductos; track producto._id) {
        <div class="col-6 col-md-4 p-3">
          <div class="card" style="width: 18rem;">
            <img [src]="producto.imagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>{{producto.nombre_producto}}</h4>
              <h5>{{producto.descripcion}}</h5>
              <h6>{{producto.precio}}</h6>
              <div>
                <button type="button" (click)="agregarProductoCarrito(producto)">agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section>
  <h1> Accesorios</h1>
  <div class="container text-center m-lg-5">
    <div class="row">
      @for (producto of dataProductos; track producto._id) {
        <div class="col-6 col-md-4 p-3">
          <div class="card" style="width: 18rem;">
            <img [src]="producto.imagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>{{producto.nombre_producto}}</h4>
              <h5>{{producto.descripcion}}</h5>
              <h6>{{producto.precio}}</h6>
              <div>
                <button type="button" (click)="agregarProductoCarrito(producto)">agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section>
  <h1> Farmacia</h1>
  <div class="container text-center m-lg-5">
    <div class="row">
      @for (producto of dataProductos; track producto._id) {
        <div class="col-6 col-md-4 p-3">
          <div class="card" style="width: 18rem;">
            <img [src]="producto.imagen" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>{{producto.nombre_producto}}</h4>
              <h5>{{producto.descripcion}}</h5>
              <h6>{{producto.precio}}</h6>
              <div>
                <button type="button" (click)="agregarProductoCarrito(producto)">agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
