<nav class="bg-body-tertiary bg-success">
  <div class="container-fluid d-flex justify-content-between border-bottom border-0 border-black">
          <img src="/Img/logoP.jpeg" alt="logoP">
    <a class="navbar-brand align-content-center">Perritos Y Garritas</a>
    <form class="d-flex " role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar Producto" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

