<nav class="row bg-body-tertiary bg-success">
  <div class="col-2 d-flex justify-content-center">
    <img src="/Img/logoP.jpeg" alt="logoP">
  </div>
  <div class="col-7">
    <a class="navbar-brand align-content-center">Perritos Y Garritas</a>
  </div>
  <div class="col-3">
    <form class="d-flex " role="search">
      <input class="form-control me-2" type="search" placeholder="Buscar Producto" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

